* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App h1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 100px;
}
.App h2 {
  padding-top: 5em;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.App nav ul {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.App nav ul li {
  list-style-type: none;
}

.App .page-content {
  margin: auto;
  display: flex;
  justify-content: center;
}

.App h3 {
  border: 2px solid blue;
  color: white;
  width: 130px;
  background-color: blue;
  height: 40px;
}

.App h3:hover {
  border: 2px solid black;
  color: white;
  width: 130px;
  background-color: blue;
  height: 40px;
  cursor: pointer;
}

.App button {
  margin: auto;
  background-color: green;
  outline: none;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  width: 150px;
  font-size: 25px;
}

.App button:hover {
  cursor: pointer;
  border: 3px solid black;
}
